<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="/" [icon]="buttonIcon"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
	<ion-list>

		<ion-item>
		  <ion-label position="floating">Username</ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
	  
		<ion-item>
		  <ion-label position="floating">Password</ion-label>
		  <ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
	  
    </ion-list>

	<ion-button fill="solid" expand="block" color="dark" (click)="login()">Login</ion-button>
</ion-content> -->

<ion-content padding class="form-content">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Log In</ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
  
  <p class="go-to-register">
    No account yet? <a (click)="goRegisterPage()">Create an account.</a>
  </p>
</ion-content>
